table, td, th {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

.tabele {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

.tabela {
    float: left;
}

.app {
    white-space: nowrap;
}