.numer {
    background-color: #e1e6f5;
    color: #2e448f;
    font-weight: bold;
    border-left: 1px solid black;
}

.godzina {
    background-color: #f0f2fa;
    color: #2e448f;
    font-weight: bold;
    white-space: nowrap;
}

.nazwa {
    font-weight: 500;
}

td {
    padding: 5px;
    height: 30px;
    max-height: 30px;
}